<div class="logo">

  <h2 title="Banca Eletrónica Cooperativa">BEC</h2>
  <h4>Banca Electrónica Cooperativa</h4>
</div>
<div class="bar">
  <ul>
    <li><%= link_to 'Inicio', root_path %> </li>
    <li><%= link_to 'Acerca de', '/about' %></li>
  </ul>
</div>
