<h1>Funciooonooooooooooooooo</h1>\
<table class="tabla der">
    <tr>
        <th colspan="4" class="tabla-der" width="50%">Creditos</th>

    </tr>

    <tr>
        <th class="titulo2">Cooperativa</th>
        <th class="titulo2">Tipo de credito</th>
        <th class="titulo2">Numero</th>
        <th class="titulo2">Saldo </th>
    </tr>

    <tr>
        <td>cooprudea</td>
        <td>Libre Inversion</td>
        <td><%= link_to '987-6543-21',"#" %></td>
        <td>$20.000.000</td>
    </tr>
    <tr>
        <td class="espacio" colspan="2"></td>
        <td class="total izq">Total</td>
        <td class="total der">$20.000.000</td>
    </tr>
</table>