
<%= render 'user/user_form' %>

<div class="detalles">
    <table>
        <tr>
            <th colspan="4" class="titulo">Movimientos</th>
        </tr>

        <tr>
          <th class="titulo2">Fecha y Hora</th>
          <th class="titulo2">Lugar</th>
          <th class="titulo2">Transacción</th>
          <th class="titulo2">Monto</th>
        </tr>
        <tr>
          <td>a</td>
        </tr>
    </table>
  
</div>
