<div class="user_info">
    <div class="cuentas">
        <table class="tabla izq">

                <tr>
                  <th colspan="4" class="tabla-izq" width="50%">Ahorros</th>
                </tr>
                <tr>
                  <th class="titulo2">Cooperativa</th>
                  <th class="titulo2">Nombre de cuenta</th>
                  <th class="titulo2">Numero</th>
                  <th class="titulo2">Saldo Disponible</th>
                </tr>

                <tr>
                  <td>cooprudea</td>
                  <td>cuenta de ahorro</td>
                  <td>123-4567-89</td>
                  <td>$200000</td>

                </tr>

        </table>


        <table class="tabla der">
            <tr>
              <th colspan="4" class="tabla-der" width="50%">Creditos</th>

            </tr>

            <tr>
              <th class="titulo2">Cooperativa</th>
              <th class="titulo2">Nombre de cuenta</th>
              <th class="titulo2">Numero</th>
              <th class="titulo2">Saldo </th>
            </tr>

            <tr>
              <td>fferf</td>
              <td>waefawef</td>
              <td>waf</td>
              <td>waef</td>
            </tr>
        </table>
    </div>
</div>