
<div class="user_info">
  <div>
        <h2>Hola James Benitez</h2>
        <h4>Su ultima visita a la platafora fue <%= Time.now.asctime %></h4>
  </div>
    <div class="cuentas">
        <table class="tabla izq">

                <tr>
                  <th colspan="4" class="tabla-izq" width="50%">Ahorros</th>
                </tr>
                <tr>
                  <th class="titulo2">Cooperativa</th>
                  <th class="titulo2">Nombre de cuenta</th>
                  <th class="titulo2">Numero</th>
                  <th class="titulo2">Saldo Disponible</th>
                </tr>

                <tr>
                  <td>cooprudea</td>
                  <td>cuenta de ahorro</td>
                  <td><%=link_to '123-4567-89', '#'%></td>
                  <td>$200.000</td>

                </tr>
                <tr>
                    <td class="espacio" colspan="2"></td>
                    <td class="total izq">Total</td>
                    <td class="total der">$200.000</td>
                </tr>

        </table>


        <table class="tabla der">
            <tr>
              <th colspan="4" class="tabla-der" width="50%">Creditos</th>

            </tr>

            <tr>
              <th class="titulo2">Cooperativa</th>
              <th class="titulo2">Tipo de credito</th>
              <th class="titulo2">Numero</th>
              <th class="titulo2">Saldo </th>
            </tr>

            <tr>
              <td>cooprudea</td>
              <td>Libre Inversion</td>
              <td><%= link_to '987-6543-21',"#" %></td>
              <td>$20.000.000</td>
            </tr>
            <tr>
               <td class="espacio" colspan="2"></td>
               <td class="total izq">Total</td>
               <td class="total der">$20.000.000</td>
            </tr>
        </table>

    </div>
</div>